body{
  background-color: rgb(252, 245, 245);
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;

}

#clear-btn{
  background-color: rgb(31, 4, 4);
  width: 238px;
  height: 78px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

}
.buttons{
        display: flex;
        flex-direction: row;
        width: 320px;
        height: 320px;
        }
.numbers{
  width: 240px;
  height: 240px;
  background-color: chocolate;
  display: flex;
  flex-wrap: wrap;
}
#individualnumber,#operation{
  background-color: cornflowerblue;
  width: 78px;
  height: 78px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#operation{
  color: brown;
}
.calculator{
  flex: content;
  display: flex;
  flex-direction: row;
  width: 320px;
  height: 320px;
  margin: 80px 80px;

}
.display{
  width: 258px;
  height: 320px;
  border: 1px solid black;
  background-color: chartreuse;
}
.leftside{
  flex: 75%;
  height: 100px;
  background-color: burlywood;


}

.rightside{
  flex: 60%;
  background-color: rgb(51, 14, 114);

}